:root {
  --body-bg-color: #0d1117;
  --border-color: #30363d;
  --text-primary: #c9d1d9;
  --text-secondary: #8b949e;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: var(--body-bg-color);
}
